.wrap {
  display: flex;
  align-items: center;
}

::ng-deep app-i18n-setting-button {
  .mat-mdc-menu-item-text {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .i18n-setting-btn {
    .mat-mdc-menu-submenu-icon {
      display: none;
    }
  }
}
