// Sass Variables
$title-color: #00f;
$main-color: var(--main-color);

// 顏色
$text-color: var(--black);
$text-white: var(--white);
$text-main-color: var(--main-color);
$gradient-color1: var(--gradient-color1);
$gradient-color2: var(--gradient-color2);

// 背景
$header-bg-color: var(--main-color);
$footer-bg-color: var(--main-color-dark);

// 後台
$primary-color: #155e3f;
