table {
  width: 100%;
}

tr {
  height: 100%;
}

th,
td {
  padding: 0.7rem;
  height: 100%;
  vertical-align: middle;
}

.default-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &.header {
    font-family: Roboto, sans-serif;
    font-weight: 700;
  }
}

app-paginator {
  margin: 20px;
}
