table {
  width: 100%;
}

th,
td {
  height: 0;
}

.default-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &.header {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
  }
}
