<table mat-table [dataSource]="dataSource" aria-describedby="table">
  @for (column of columnsForRender(); track column.field) {
    <ng-container [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef scope="col">
        @if (columnTemplateMap.has(column.field)) {
          <ng-container
            [ngTemplateOutlet]="
              columnTemplateMap.get(column.field) | contentViewChildType
            "
            [ngTemplateOutletContext]="column"></ng-container>
        } @else {
          <div
            [ngStyle]="{ 'justify-content': column.align ?? 'start' }"
            class="default-cell header">
            {{ column.name }}
            @let sort = column.sort;
            @if (sort !== undefined) {
              <app-button
                buttonType="no-style"
                [iconName]="sortModeStep[sort]"
                (onclick)="nextSortStep(column)"></app-button>
            }
          </div>
        }
      </th>
      <td mat-cell *matCellDef="let data">
        @if (rowTemplateMap.has(column.field)) {
          <ng-container
            [ngTemplateOutlet]="
              rowTemplateMap.get(column.field) | contentViewChildType
            "
            [ngTemplateOutletContext]="data"></ng-container>
        } @else {
          @let columnSetting = columnSettingKeyMap().get(column.field);
          @if (columnSetting) {
            <div
              class="default-cell"
              [ngStyle]="{
                'justify-content': columnSetting.align ?? 'start',
              }">
              {{ data[column.field] }}
            </div>
          }
        }
      </td>
    </ng-container>
  }

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns(); sticky: isSticky()"></tr>
  <tr
    onKeyPress
    mat-row
    *matRowDef="let row; columns: displayedColumns()"
    (click)="rowClickEvent(row)"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns().length">
      <ng-content></ng-content>
    </td>
  </tr>
</table>

@if (usePaginator()) {
  <app-paginator
    [dataLength]="rowData().length"
    (pageEvent)="pageEvent.emit($event)"></app-paginator>
}
