.input-btn-container {
  position: relative;
  display: flex;
}

input {
  &::placeholder {
    font-family: Roboto, sans-serif;
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
  }
}

.icon-btn {
  border: unset;
  padding: 0;
  background: transparent;
}

.canIconClick {
  cursor: pointer;
}
