<div class="input-container">
  <div class="label">{{ label() }}</div>
  <div class="input-btn-container">
    @if (control) {
      <input
        [matAutocomplete]="autoComplete()!"
        [formControl]="control"
        [placeholder]="placeholder()"
        [type]="inputType()"
        [matAutocompleteDisabled]="autoComplete() === null"
        (focus)="inputFocusEvent()"
        (keyup)="keyupEvent($event)" />
      @if (iconName() !== null) {
        <button
          type="button"
          class="material-symbols-rounded icon-btn icon"
          (click)="iconClickEvent()"
          [ngClass]="{ canIconClick: canIconClick() }">
          {{ iconName() }}
        </button>
      }
    }
  </div>
  <app-validate-message [control]="control!"></app-validate-message>
</div>
