@font-face {
  font-family: 'Noto Sans TC';
  src: url('assets/fonts/noto-sans-tc/NotoSansTC-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans TC';
  src: url('assets/fonts/noto-sans-tc/NotoSansTC-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans TC';
  src: url('assets/fonts/noto-sans-tc/NotoSansTC-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('assets/fonts/roboto/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url('assets/fonts/roboto/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
}

.roboto-400 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.roboto-500 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.roboto-700 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
