// Sass Mixins
@use 'sass:list';
@mixin generate-spacing($prefix, $property) {
  // List of sizes to generate for each
  $sizes:
    [ 0,
    0.25 0.5,
    1,
    1.5,
    3,
    6];

  // Spacing to multiply the sizes by
  $spacing: 1rem;

  // Loop through all of the sizes(we use @for rather than @each, as we want access to the index)
  @for $i from 1 through length($sizes) {
    // Get the size for the current index
    $size: list.nth($sizes, $i);

    // Create the rule
    .#{$prefix}-#{$i - 1} {
      #{$property}: $spacing * $size;
    }
  }
}

@mixin gradient-border($color1, $color2) {
  border: 1px solid transparent;
  border-image: linear-gradient(122.61deg, $color1 25.76%, $color2 85.21%);
  border-image-slice: 1;
}

@mixin gradient-bg($color1, $color2) {
  -webkit-background: linear-gradient(
    122.61deg,
    $color1 25.76%,
    $color2 85.21%
  );
  -moz-background: linear-gradient(122.61deg, $color1 25.76%, $color2 85.21%);
  background: linear-gradient(122.61deg, $color1 25.76%, $color2 85.21%);
}

@mixin gradient-text($color1, $color2) {
  @include gradient-bg($color1, $color2);

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin xx-large {
  @media (width <=1550px) {
    @content;
  }
}

@mixin x-large {
  @media (width <=1200px) {
    @content;
  }
}

@mixin large {
  @media (width <=991px) {
    @content;
  }
}

@mixin pad {
  @media (width <=768px) {
    @content;
  }
}

@mixin small {
  @media (width <=640px) {
    @content;
  }
}

@mixin mobile {
  @media (width <=376px) {
    @content;
  }
}
