<div class="label">{{ label() }}</div>
<div [formGroup]="dateRangeGroup" class="input-date-container">
  @if (startValue && endValue) {
    <app-input-date
      [config]="{
        useTimePicker: useTimePicker(),
        max: endValue(),
        dateRangeRole: 'start',
      }"
      [formControlName]="startDateFormControlName()"></app-input-date>
    ~
    <app-input-date
      [formControlName]="endDateFormControlName()"
      [config]="{
        useTimePicker: useTimePicker(),
        min: startValue(),
        dateRangeRole: 'end',
      }"></app-input-date>
  }
</div>
