.label {
  margin-bottom: 5px;
}

.input-container {
  position: relative;
}

input {
  font-size: 14px;
  font-family: 'Noto Sans TC', sans-serif;

  &::placeholder {
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
  }
}

button {
  position: absolute;
  top: 50%;
  right: 0;
  border: unset;
  padding: 0;
  color: var(--label-color);
  background-color: transparent;
  cursor: pointer;
  transform: translate(-100%, -50%);

  span {
    font-size: 16px;
  }
}

::ng-deep app-input-date-range {
  .mat-date-range-input-separator {
    margin: 0 !important;
  }

  .input-date-range {
    max-height: 40px;
  }
}
