.breadcrumb-container {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--placeholder-color);

  .last {
    font-weight: 700;
    color: var(--black);
  }
}

.separator {
  padding: 0 0.5rem;
  color: var(--placeholder-color);
}
