:host {
  display: flex;
  gap: 20px;
}

input {
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 14px;
  text-align: center;
}

/* 適用於 WebKit 和 Blink（Chrome、Safari、Edge） */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
